In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import csv
import nfl_data_py as nfl

In [22]:
# Loading the file in 

file_path = ("Resources/clean_nfl_data.csv")
df = pd.read_csv(file_path)
df = pd.DataFrame(df)

df = df[["play_id" , "home_team" , "away_team" , "posteam" , "play_type" , "down" , "ydstogo" ,"rushing_yards" , "rush_attempt" , "rush_touchdown",
            "pass_attempt" , "complete_pass" , "passing_yards" , "pass_touchdown" , "touchdown" , "home_score" , "away_score" , "result" , "total" , "series_result"]]
df.head(10)

,play_id,home_team,away_team,posteam,play_type,down,ydstogo,rushing_yards,rush_attempt,rush_touchdown,pass_attempt,complete_pass,passing_yards,pass_touchdown,touchdown,home_score,away_score,result,total,series_result
0,55,TEN,ARI,TEN,run,1.0,10,-3.0,1,0,0,0,NaN,0,0,13,38,-25,51,Punt
1,76,TEN,ARI,TEN,pass,2.0,13,NaN,0,0,1,1,3.0,0,0,13,38,-25,51,Punt
2,100,TEN,ARI,TEN,pass,3.0,10,NaN,0,0,1,0,NaN,0,0,13,38,-25,51,Punt
3,152,TEN,ARI,ARI,pass,1.0,10,NaN,0,0,1,1,38.0,0,0,13,38,-25,51,First down
4,181,TEN,ARI,ARI,run,1.0,10,2.0,1,0,0,0,NaN,0,0,13,38,-25,51,First down
5,218,TEN,ARI,ARI,pass,1.0,18,NaN,0,0,1,1,1.0,0,0,13,38,-25,51,First down
6,253,TEN,ARI,ARI,pass,2.0,17,NaN,0,0,1,1,21.0,0,0,13,38,-25,51,First down
7,282,TEN,ARI,ARI,run,1.0,9,0.0,1,0,0,0,NaN,0,0,13,38,-25,51,Field goal
8,386,TEN,ARI,ARI,pass,2.0,24,NaN,0,0,1,1,8.0,0,0,13,38,-25,51,Field goal
9,410,TEN,ARI,ARI,pass,3.0,16,NaN,0,0,1,0,NaN,0,0,13,38,-25,51,Field goal

In [35]:
# Determine if there are any missing values. 
test_df_2 = df[["home_team" , "away_team" ,"posteam" , "down", "play_type" , "series_result", "home_score" , "away_score" , "result" , "total"]]

test_df_2.sort_values(by="down" , ascending=False)

,home_team,away_team,posteam,down,play_type,series_result,home_score,away_score,result,total
35765,CIN,LA,CIN,4.0,pass,Turnover on downs,20,23,-3,43
5374,NE,NO,NE,4.0,pass,First down,13,28,-15,41
29085,NYJ,JAX,NYJ,4.0,run,Turnover on downs,26,21,5,47
1613,ATL,PHI,PHI,4.0,run,Turnover on downs,6,32,-26,38
29105,NYJ,JAX,NYJ,4.0,pass,Touchdown,26,21,5,47
...,...,...,...,...,...,...,...,...,...,...
34611,TB,PHI,PHI,NaN,pass,Touchdown,31,15,16,46
35002,KC,BUF,BUF,NaN,pass,Touchdown,42,36,6,78
35067,TEN,CIN,TEN,NaN,run,Touchdown,16,19,-3,35
35476,KC,CIN,CIN,NaN,pass,Touchdown,24,27,-3,51
35672,CIN,LA,LA,NaN,pass,Touchdown,20,23,-3,43

In [44]:
#Ignore

test_df_2.loc[(test_df_2["home_team"] == 'TEN') & (test_df_2["play_type"] == "run")]

test_df_2

,home_team,away_team,posteam,down,play_type,series_result,home_score,away_score,result,total
0,TEN,ARI,TEN,1.0,run,Punt,13,38,-25,51
1,TEN,ARI,TEN,2.0,pass,Punt,13,38,-25,51
2,TEN,ARI,TEN,3.0,pass,Punt,13,38,-25,51
3,TEN,ARI,ARI,1.0,pass,First down,13,38,-25,51
4,TEN,ARI,ARI,1.0,run,First down,13,38,-25,51
...,...,...,...,...,...,...,...,...,...,...
35761,CIN,LA,CIN,1.0,pass,First down,20,23,-3,43
35762,CIN,LA,CIN,1.0,pass,Turnover on downs,20,23,-3,43
35763,CIN,LA,CIN,2.0,pass,Turnover on downs,20,23,-3,43
35764,CIN,LA,CIN,3.0,run,Turnover on downs,20,23,-3,43
35765,CIN,LA,CIN,4.0,pass,Turnover on downs,20,23,-3,43