In [1]:
import csv
import nfl_data_py as nfl
import pandas as pd

In [9]:
# Loading the file in 

file_path = ("Resources/clean_nfl_data.csv")
df = pd.read_csv(file_path)
df = pd.DataFrame(df)

df = df[["play_id" , "home_team" , "away_team" , "posteam" , "play_type" , "down" , "ydstogo" ,"rushing_yards" , "rush_attempt" , "rush_touchdown",
            "pass_attempt" , "complete_pass" , "passing_yards" , "pass_touchdown" , "touchdown"]]
df.head()

,play_id,home_team,away_team,posteam,play_type,down,ydstogo,rushing_yards,rush_attempt,rush_touchdown,pass_attempt,complete_pass,passing_yards,pass_touchdown,touchdown
0,55,TEN,ARI,TEN,run,1.0,10,-3.0,1,0,0,0,NaN,0,0
1,76,TEN,ARI,TEN,pass,2.0,13,NaN,0,0,1,1,3.0,0,0
2,100,TEN,ARI,TEN,pass,3.0,10,NaN,0,0,1,0,NaN,0,0
3,152,TEN,ARI,ARI,pass,1.0,10,NaN,0,0,1,1,38.0,0,0
4,181,TEN,ARI,ARI,run,1.0,10,2.0,1,0,0,0,NaN,0,0

In [31]:

df[['play_type' , 'down']].value_counts(ascending=True)

play_type  down
run        4.0      295
pass       4.0      531
run        3.0     1698
           2.0     4821
pass       3.0     5557
           2.0     7032
           1.0     7778
run        1.0     7896
dtype: int64